.minhas-compras{
    font-size:20px;
    color:black;
}
.box-comprasconcluidas{
    background-color:blue;
    border:1px solid blue;
    padding:20px;
}
.box-comprascanceladas{
    background-color:red;
    border:1px solid red;
    padding:20px;
}
.text-compras{
    border-color:white;
    color:white;
}