.titulo-contato{
    font-family:'Montserrat';
    font-size:4.8rem;
    font-weight: light;
    color:#1b2348;
}
.descricao-campos{
    font-family:'Roboto';
    font-size:1.6rem;
    color:#4c4f5c;
}
.descricao-contato{
    font-family:'Roboto';
    font-size:1.4rem;
    color:#dca041;
}
.fotos-footer{
max-width:318px;
}
.form-field-contato{
    font-size:1.7rem;
    padding-top:0.5rem;
    padding-bottom:2rem;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #ebebeb;
}
.form-field-slim{
    font-size:1.7rem;
    padding-top:0.7rem;
    padding-bottom:0.7rem;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #ebebeb;
}
.titulo-informacoes{
    font-family:'Montserrat';
    font-size:2.4rem;
    font-weight:Bold;
    color:#1b2348;
}
.button-contato{
    cursor:pointer;
    color:white;
    font-size:1.4rem;
    font-weight:bold;
    width: 159px;
    height: 50px;
    border-radius: 25px;
    background-color: #1b2347;
}
.icon-phone{
    transform: rotate(-270deg);
    font-size:2rem;
    color:white;
    background-color:#213363;
    padding:1.3rem;
    border-radius:5px;
}
.icon-envelope{
    font-size:2rem;
    color:white;
    background-color:#213363;
    padding:1.3rem;
    border-radius:5px;
}
.ddd-informacoes{
    font-family:'Roboto';
    font-size:1.8rem;
    color:#0c2849;
}
.telefone-informacoes{
    font-family:'Roboto';
    font-size:2.4rem;
    color:#0c2849;
}
.email-informacoes{
    font-family:'Roboto';
    font-size:1.8rem;
    color:#0c2849;
}
.endereco-informacoes{
    font-family:'Roboto';
    font-size:1.8rem;
    color:#0c2849;
}
.icons-contato{
    cursor:pointer;
    margin-left:10px;
    padding-left:1.6rem;
    padding-right:1.6rem;
    padding-top:1.4rem;
    padding-bottom:1.4rem;
    border:1px solid;
    border-radius:100%;
    color:white;
    background-color:#9099B1;
    &:hover{
        background-color: #213363;
    }
}