.produto-box{
    border:2px solid black;
}
.produto-nome{
    font-size:25px;
    color:black;
}
.produto-inf{
    padding:50px;
}
.produto-preco{
    font-size:25px;
    color:black;
}
.produto-descricao{
    font-size:17px;
    font-weight:300;
    color:black;
}