.footer{
    width: 100%;
    height: 6.68rem ;
    background-color: #0d1a34;
    
}

.logolinks{
    background-color: white;
}

.copyright{
    width: 100%;
    height: 9.2rem;
    background-color: #0b162c ;
}

.footer-sections-title{
    font-size:1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
}

.footer-sections-face{
    font-size:3rem;
    a{
        text-decoration: none;
        color:white;
    }
    a:hover{
        color:blue;
    }
}
.footer-sections-twitter{
    font-size:3rem;
    a{
        text-decoration: none;
        color:white;
    }
    a:hover{
        color:#286ff5;
    }
}
.footer-sections-youtube{
    font-size:3rem;
    a{
        text-decoration: none;
        color:white;
    }
    a:hover{
        color:red;
    }
}
.title-sections-footer{
    font-family:'Roboto';
    font-size:2.4rem;
    font-weight: bold;
    color:#dca041;
}
.sub-sections-footer{
    font-family:'Roboto';
    font-size:1.8rem;
    color:white;
    &:hover{
        text-decoration:none;
        color:#dca041;
    }
}
.sub-contact-footer{
    font-family:'Roboto';
    font-size:1.6rem;
    color:white;
}
.sub-contact-endereco-footer{
    font-family:'Roboto';
    font-size:1.5rem;
    color:white;
}
.facebook{
    font-size: 1.5rem;
    display: flex;
}
.instagram{
    font-size: 1.5rem;
    display:flex;
}
.linkedin{
    font-size: 1.5rem;
    display: flex;
}

.icons-sociais{
    padding-left:0.6rem;
    padding-right:0.6rem;
    padding-top:0.4rem;
    padding-bottom:0.4rem;
    border:1px solid;
    border-radius:15px;
}
.footer-icons{
    color: white;
    .facebook{
        font-size: 2rem;
        display: flex;
    }
    .instagram{
        font-size: 2rem;
        padding-right:1rem;
        padding-left:1rem;
        display:flex;
    }
    .linkedin{
        font-size: 2rem;
        display: flex;
    }
    .icons-sociais{
        padding-left:1.3rem;
        padding-right:1.3rem;
        padding-top:1.2rem;
        padding-bottom:1.2rem;
        border:1px solid;
        border-radius:25px;
    }
    .icon-face{
        padding-left:1.5rem;
        padding-right:1.5rem;
        padding-top:1.2rem;
        padding-bottom:1.2rem;
        border:1px solid;
        border-radius:25px;
    }
    .container{
    display: flex;
        @media(max-width:991px){
            flex-direction: column;
        }
    .contact-info{
        display: flex;
        @media(min-width:992px){
            justify-content: flex-start;
        }
        @media(max-width:991px){
            justify-content: center;
        }
        @media(max-width:767px){                
            justify-content: center;
        }
        @media(max-width:425px){
            flex-direction: column;
            justify-content: center;
        }
    }

        .action-buttons{
            display: flex;
            @media(min-width:992px){
                justify-content: flex-end;
            }          
            @media(max-width:991px){
                justify-content: center;
            }  
            padding-right: 35px;
            @media(max-width:767px){
                
                justify-content: center;
            }
            @media(max-width:425px){
                flex-direction: column;
                justify-content: center;
            }
        }
        }
    }