.topo{
    background-color: red;
    color: white;
    .facebook{
      color:white;
      font-size: 1.5rem;
      padding-left:0.2rem;
      padding-right:0.2rem;
      padding-top:1rem;
      padding-bottom:1rem;
      display: flex;
      &:hover{
        text-decoration:none;
        color:black;
      }
    }
    .instagram{
      color:white;
      font-size: 1.5rem;
      padding-left:0.2rem;
      padding-right:0.2rem;
      padding-top:1rem;
      padding-bottom:1rem;
      display:flex;
      &:hover{
        text-decoration:none;
        color:black;
      }
    }
    .linkedin{
      color:white;
      font-size: 1.5rem;
      padding-left:0.2rem;
      padding-right:0.2rem;
      padding-top:1rem;
      padding-bottom:1rem;
      display: flex;
      &:hover{
        text-decoration:none;
        color:black;
      }
    }
    .atendimento-topo{
        font-size:1.4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
    }
    .icons-sociais{
      padding-left:0.6rem;
      padding-right:0.6rem;
      padding-top:0.4rem;
      padding-bottom:0.4rem;
      border:1px solid;
      border-radius:15px;
    }
    .doe{
      font-size:1.8rem;
      font-weight:bold;
      color:white;
      &:hover{
        text-decoration:none;
        color:black;
      }
    }
    .card-doe{
      background-color: blue;
    }
    .container{
        display: flex;
        @media(max-width:991px){
            flex-direction: column;
        }
        .contact-info{
            display: flex;
            @media(min-width:992px){
                justify-content: flex-start;
            }
            @media(max-width:991px){
                justify-content: center;
            }
            @media(max-width:767px){                
                justify-content: center;
            }
            @media(max-width:425px){
                flex-direction: column;
                justify-content: center;
            }
        }
        .action-buttons{
            display: flex;
            @media(min-width:992px){
                justify-content: flex-end;
            }          
            @media(max-width:991px){
                justify-content: center;
            }  
            padding-right: 35px;
            @media(max-width:767px){
                
                justify-content: center;
            }
            @media(max-width:425px){
                flex-direction: column;
                justify-content: center;
            }
        }
    }
  }
  .nav-itens{
    font-size: 1.8rem;
    line-height: 3rem;
    color: #505050;
    font-family: "Montserrat";
    font-weight: light;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.1);
  }